.form {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form_div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: end;
  gap: 1rem;
}
