* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* body {
  overflow-wrap: break-word;
  hyphens: auto;
  line-height: 1.5;
  font-size: 16px;
  background-color: var(--color-primary1);
} */

img {
  display: block;
  width: 100%;
  height: auto;
}

.App {
  background-color: transparent;
}

.logo {
  width: auto;
  height: 60px;
}

header nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: 8px 2px 2px hsl(100deg 15% 90%);
}
